.App {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

.header {
  color: white;
}

#headerTop {
  color: goldenrod;
}

#headerLogo {
  min-height: 80px;
  min-width: 150px;
  max-width: 600px;
  max-height: 320px;
}

.classImg {
  max-width: 350px;
  max-height: 350px;
}

.ui.celled.grid > .column:not(.row) {
  box-shadow: none;
}

.ui.card > .content {
  padding: 0%;
}

.header.ui.centered {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .header.ui.centered {
    font-size: 70%;
  }
}
